
.flight-help-popover {
    border-bottom: 1px dotted;
    color: #737373;
    cursor: help;

    & .flight-icon, .formTip & .flight-icon {
        display: inline;
        height: auto;
        margin: 0 2px;
        vertical-align: unset;
        width: auto;
    }
}
