
.cluster-selection-box {
    display: inline-block;
}

.cluster-selection-box-name {
    display: inline-block;
    margin-bottom: 15px;
}

.cluster-selection-box-submit {
  width: 100%;
  input {
    width: inherit;
  }
}

.environment-details-box {
  // TODO: reduce duplication between this and below styles.
  margin: 25px;
  text-align: center;

  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px;

  background-color: #eee;
}

// Below stolen from react-flipcard example, TODO adapt this
.ReactFlipCard {
  margin: 25px;
  text-align: center;
}
.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  box-sizing: border-box;
  height: 222px;
  width: 300px;
}
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px;
}
.ReactFlipCard__Front {
  background-color: #eee;
}
.ReactFlipCard__Back {
  background-color: #cef;
}
